<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Mental Health KBS</title>
    </head>
    <body class="center">
        <div><h1>Mental Health Expert System</h1></div>
        <div class="box">
            <div>
                <h2>Pilih gejala yang Anda alami:</h2>                
                <form method="POST" autocomplete="off">
                    {% for g in symptoms %}
                        <label class="container">
                        <input type="checkbox" name="{{g[0]}}" {{g[2]}}/>{{g[1]}}
                        <span class="checkmark"></span>
                        </label>
                    {% endfor %} <br>
                    <input type="submit" class="button button2">
                </form>
            </div>
            <div>
                {% if status %}
                <h2 style="margin-top: 10px">Anda sehat</h2>
                {% elif status == False and result == 'unknown' %}
                <h2 style="margin-top: 10px">Penyakit Anda tidak dapat diidentifikasi</h2>
                {% elif status == False %}
                <h2 style="margin-top: 10px">Penyakit yang mungkin Anda alami:</h2>
                    <div><label style="font-size: 16px; margin-left: 10px">{{result}}</label></div>
                {% endif %}
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/clear_windows.js') }}"></script>
</html>